<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon mb-3">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= cl_image_tag "https://res.cloudinary.com/fofo921/image/upload/v1608393281/LOGO_SNCF_GROUPE_WEB_qeyqeq.png", width: 80 %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Experts", experts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Organismes", bodies_path, class: "nav-link" %>
        </li>
        <% if  current_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Administration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Connexions</a>
              <a class="dropdown-item" href="#">Sélection Administrateurs</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/fofo921/image/upload/v1608396923/ssaunier_s7thyk.jpg",
            class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <div class="dropdown-item">Utilisateur : <%= current_user.email %></div>
            <div class="dropdown-item">Accès comme <%= current_user.admin? ? 'Administrateur' : 'Membre' %></div>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
