<h1>Informations détaillée sur <%= @expert.full_name %></h1>
<p><strong>Nom : </strong><%= @expert.last_name %></p>
<p><strong>Prénom : </strong><%= @expert.first_name %></p>
<p><strong>Entreprise : </strong><%= @expert.body.short_name %></p>
<% if @expert.active %>
    <p>En activité</p>
<% else %>
  <p><%= @expert.full_name %> n'est plus en poste dans l'entité <%= @expert.body.short_name %></p>
<% end %>
<h2>Liste des inscriptions</h2>

<table class='table table-striped table-sm'>
  <thead>
    <tr>
      <th scope="col">Inscription</th>
      <th scope="col">Entité</th>
      <th scope="col">Fonction</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @expert.memberships.each do |membership| %>
      <tr>
        <td>
          <% membership.body.ancestors.each do |ancestor| %>
            <%= ancestor.short_name %> >
          <% end %>
          <strong><%= membership.body.short_name %></strong>
        </td>
        <td><%= membership.body.long_name %></td>
        <td><%= membership.membership_type.long_name %></td>
        <td><%= membership.starting_at %></td>
        <td><%= membership.ending_at %></td>
        <td>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <% if policy(Membership).update? %>
                <%= link_to edit_expert_membership_path(@expert, membership) do %>
                  <i class="fas fa-edit list-inline-item"></i>
                <% end %>
              <% end %>
            </li>
            <li class="list-inline-item">
              <% if policy(Membership).destroy? %>
                <%= link_to membership_path(membership), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
                  <i class="fas fa-trash-alt list-inline-item"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
      </tr>
    <% end %>

  </tbody>
</table>
<% if policy(Membership).create? %>
  <%= link_to "Ajouter une inscription pour #{@expert.full_name}", new_expert_membership_path(@expert) %>
<% end %>
<%= link_to "Retour à la liste d'experts", experts_path, class: 'btn btn-flat btn-sm' %>
