<h1>Informations détaillée sur <%= @expert.full_name %></h1>
<p><strong>Nom : </strong><%= @expert.last_name %></p>
<p><strong>Prénom : </strong><%= @expert.first_name %></p>
<p><strong>Entreprise : </strong><%= @expert.body.short_name %></p>
<% if @expert.active %>
    <p>En activité</p>
<% else %>
  <p><%= @expert.full_name %> n'est plus en poste dans l'entité <%= @expert.body.short_name %></p>
<% end %>
<h2>Liste des inscriptions</h2>

<table class='table table-striped table-sm'>
  <thead>
    <tr>
      <th scope="col">Inscription</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @expert.memberships.each do |membership| %>
      <tr>
        <td>
          <% membership.body.ancestors.each do |ancestor| %>
            <%= ancestor.short_name %> >
          <% end %>
          <strong><%= membership.body.short_name %></strong>
        </td>
        <td>
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <%= link_to edit_expert_membership_path(@expert, membership) do %>
                <i class="fas fa-edit list-inline-item"></i>
              <% end %>
            </li>
            <li class="list-inline-item">
              <%= link_to membership_path(membership), method: :delete, data: {confirm: "Êtes vous sûr ?"} do %>
                <i class="fas fa-trash-alt list-inline-item"></i>
              <% end %>
            </li>
          </ul>
      </tr>
    <% end %>

  </tbody>
</table>
<%= link_to "Ajouter une inscription", new_expert_membership_path(@expert) %>
<%= link_to "Retour à la liste d'experts", experts_path, class: 'btn btn-flat btn-sm' %>
